*{margin: 0; padding: 0; list-style-type: none; text-decoration: none;}

.menubar{
    width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 2px #ED1C24;
      position: relative;
  }
  
  .logo{
      padding: 10px 20px;
  }
  
  .logo img{
      width: 85px;
  }
  
  .menu{
      padding: 10px 20px;
  }
  
  .menu img{
      width: 40px;
  }

.menulist{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.menulist li {
    padding: 15px 0;
    background-color: #F3F3F3;
    border-top: solid 1px #d7d7d7;
    text-align: center;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    
}

.menulist li a {
  color: #000;
}

/* Trigger Button */
input[id=trigger] {
    display: none;
  }
  label[for=trigger] {
    /*border: 1px solid red;*/
    width: 30px;
    height: 18px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  label[for=trigger] span {
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100%;
    left: 0;
    transition: 0.3s;
  }
  label[for=trigger] span:nth-child(1) {
    top: 0;
  }
  label[for=trigger] span:nth-child(2) {
    top: 50%;
  }
  label[for=trigger] span:nth-child(3) {
    top: 100%;
  }
  
  input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
    opacity: 0;
  }
  input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  
  .menulist{
      display: none;
      position: absolute;
      z-index: 2;
      width: 100%;
  }
  
  .menulist li {
      padding: 15px 0;
      background-color: #F3F3F3;
      border-top: solid 1px #d7d7d7;
      text-align: center;
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
      
  }

  .menulist li a {
    color: #000;
  }
  
  .cbt {
    padding: 15px 0;
      background-color: #F3F3F3;
      border-top: solid 1px #d7d7d7;
      text-align: center;
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
  }

  .wrap1 {
    background: url(../img/m_home1.png) no-repeat;
    padding: 90px;
  }

  .el {padding: 10px;
    color: #fff;
  }

  .wrap2 {
    background: url(../img/m_home2.png) no-repeat;
    padding: 80px 150px;
  }

.wrap3 {
  background: url(../img/m_home3.png) no-repeat;
  padding: 80px 160px;
}

.wrap4 {
  background: url(../img/m_home4.png) no-repeat;
  padding: 80px 170px;
}

  a {
    color: #fff;
    text-align: center;
  }

  .footer {
    position: relative;
   border-top: solid 2px #C0C0C0;
  }
  
  .ft_1 ul {
    position: absolute;
    display: flex;
    font-size: 9px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 26px;
    text-align: center;
  }
  
  .ft_1 li a {
    padding: 0 5px;
    color: #C0C0C0;
    margin: 0 auto;
  }
  
  .ft_1 li::after {
    content: "|";
    align-items: center;
    color : #C0C0C0;
  }
  
  .ft_1 li:nth-last-of-type(1)::after {
    content: "";
    }
  
    .ft_2 {
      position: absolute;
      padding-top: 32px;
      padding-bottom: 23px;
      font-size: 9px;
      padding-left: 90px;
      color : #C0C0C0;
    }